<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="flexbox-grid.html">

<dom-module id="my-app">
  <template>
    <style include="shared-styles flexbox-grid">
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-header {
        color: #fff;        
      }
      
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      a {        
        padding: 0 16px;
        text-decoration: none;
        color: white;        
        line-height: 40px;
      }
      a.contact {
        border: solid 2px rgba(255, 255, 255, .5);
      }

      a.iron-selected {
        color: white;        
      }

      app-toolbar {
        background: var(--app-primary-color);
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
      <!-- Drawer content -->
      <!--<app-drawer id="drawer" class="hide-gt-sm show-sm">-->
        <app-toolbar class="layout-row layout-align-center-center hide-xs">
            <iron-selector selected="[[page]]" attr-for-selected="name" class="layout-row layout-align-space-between-center flex-60" role="navigation">
              <a name="about" href="/about"><small>Tyler Renfro—Web Design</small></a>
              <a class="contact" name="contact" href="/contact">Contact</a>
            </iron-selector>              
        </app-toolbar>  
      <!--</app-drawer>-->

      <!-- Main content -->
      <!--<app-header-layout has-scrolling-region>
        <app-header condenses reveals effects="waterfall">
          <app-toolbar class="layout-row layout-align-center-center">
            <div class="layout-row layout-align-space-between-center flex-60">
              <div class="flex-60" main-title><strong>TR</strong></div>
              <iron-selector selected="[[page]]" attr-for-selected="name" class="flex-40 layout-row layout-align-space-between-center" role="navigation">
                  <a name="about" href="/about">About</a>
                  <a name="services" href="/services">Services</a>
                  <a name="contact" href="/contact">Contact</a>
              </iron-selector>
            </div>
          </app-toolbar>
        </app-header>-->

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-about name="about"></my-about>
          <my-work name="work"></my-work>
          <my-services name="services"></my-services>
          <my-contact name="contact"></my-contact>
          <my-view404 name="view404"></my-view404>
        </iron-pages>      
  </template>

  <script>
    Polymer({
      is: 'my-app',

      properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged',
        },
      },

      observers: [
        '_routePageChanged(routeData.page)',
      ],

      _routePageChanged: function(page) {
        this.page = page || 'about';
      },

      _pageChanged: function(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        this.importHref(resolvedPageUrl, null, this._showPage404, true);
      },

      _showPage404: function() {
        this.page = 'view404';
      },
    });
  </script>
</dom-module>
