<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-about">
  <template>
    <style include="shared-styles flexbox-grid">
:host {
        display: block;
      }  
      .text-center {
        text-align: center;
      }  
      .gray-background-wrapper {
        background-color: #f8f8f8;
      }
      a {
        text-decoration: none;
      }
      .no-right {
        margin-right: 0 !important;
        padding-right: 0 !important;
      }
      .title {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
      .heading-sans {
        font-size: 32px;
        margin: 0;
      }
      .value-proposition {
        font-size: 48px;
        margin: 1.5rem 0 .25em 0;
        padding: 0;
        line-height: 125%;
        font-weight: normal !important;      
      }
      .description-text {
        font-size: 28px;
        margin: 0 0 1.5rem 0;
        padding: 0;
        line-height: 130%;
      }
      paper-button.cta {
        background-color: var(--app-primary-color);
        margin: 1em auto;
        padding: 20px 10px;
        color: white;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: bold;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--app-primary-color) !important;
          color: white !important;
        };        
      }
      .main-hero {
        padding: 4rem 0;
        background: var(--app-primary-color);        
        color: white;
        background:         
          linear-gradient(
            rgba(3, 3, 3, 0.70), 
            rgba(3, 3, 3, 0.70)
          ),        
          url('../images/StockSnap_YR89OQFMT1.jpg');            
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .name-title-wrapper {
        text-align: center;
      }
      .navbar-wrapper {
        padding: .5em 0;
        color: var(--paper-blue-400);
        width: 100%;
      }
      hr {
        border: solid .5px #c5c5c5;
        display: flex;
        width: 100%;
        margin: 50px 0;
      }
      .work-heading {
        margin: 1em 0 0 0;
        font-size: 42px;
        font-weight: normal;
      }
      .card-title {
        font-size: 24px;
        font-weight: normal;
      }
      .benefits-list li {
        font-size: 20px;
        margin-bottom: .25em;
      }
      paper-card {
        margin: 2.5em 0;
      }
      .featured-work-card {
        margin-bottom: 2.5em;
      }
      /*Bigger than Mobile*/
      @media only screen and (min-device-width : 600px){
      /* Styles */
        .main-hero {
          width: 100%;
        }
      }
      /*Mobile Only*/
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
        .heading-sans {
          font-size: 28px;
          margin-bottom: 0;
          line-height: 110%;
        }
        paper-button.cta {
          font-size: 16px;
        }        
        .value-proposition {
          font-size: 22px;
          line-height: 150%;
          margin-bottom: 1em;
          text-align: center;
        }
        .benefits-list li {
          font-size: 14px;
          margin-bottom: .75em;
        }
        .work-heading {
          font-size: 20px;
        }
        .card-title {
          font-size: 18px;
        }
        hr {
          margin: 25px 0;
        }
        .description-text {
          font-size: 14px;
        }
        .nav-icon-label {
          font-size: 10px;
        }
      }
    </style>
    <div class="layout-column layout-align-center-start layout-fill">
      <div class="main-hero flex-xs-95 layout-column layout-xs-align-center-start layout-align-center-center layout-wrap">
        <div class="layout-row layout-align-center-center layout-wrap">
          <div class="layout-row flex-xs-90 flex-55">
            <h2 class="sub-heading-sans value-proposition"><strong>I Create Thoughtful Websites for People &amp; Businesses</strong></h2>
          </div>
          <div class="layout-row flex-xs-90 flex-55">
            <ul class="benefits-list">
              <li><em>Focused on creating functional designs that reach goals</em></li>
              <li><em>For start-ups, agencies, organizations, and individuals</em></li>
              <li><em>Long lasting client relationships</em></li>
            </ul>
          </div>
          <div class="layout-row flex-xs-90 flex-55">
            <a href="/contact" class="layout-fill"><paper-button toggles raised class="custom cta layout-fill">Free Consultation</paper-button></a>
          </div>
        </div>
      </div>        
    </div>
    <div class="gray-background-wrapper">
      <div class="layout-row layout-align-center-center">
        <div class="layout-column flex-xs-90 flex-sm-95 flex-55">
          <div class="layout-column layout-align-start-start">
            <h1 class="work-heading">Check out samples of my designs.</h1>            
            <hr>
          </div>           
          <div class="layout-row layout-align-space-between-start layout-wrap">
            <template is="dom-repeat" items="[[workEntries]]" as="work">                          
              <div class="layout-column layout-align-start-start flex-100">
                <paper-card image="../images/[[work.image]]" alt="[[work.altText]]" class="layout-fill featured-work-card">
                    <div class="card-content">
                        <div class="cafe-header">
                            <h3 class="card-title">[[work.title]]</h3>                            
                        </div>
                    </div>
                </paper-card>
              </div>            
            </template>
          </div>
        </div>
      </div>
      <div class="layout-row layout-align-center-center">      
          <paper-card class="layout-row layout-align-space-between-center flex-xs-90 flex-sm-95 flex-55 layout-padding layout-wrap">
              <p class="flex-xs-100 flex-sm-100 flex-md-100"><strong>Interested in Collaboration?</strong><br class="hide-gt-sm"> <em>Let's work together.</em></p>
              <a href="/contact" class="flex-xs-100 flex-sm-100 flex-md-100 flex-gt-md-40"><paper-button toggles raised class="custom cta no-right layout-fill">Start Project</paper-button></a>
          </paper-card>      
      </div>
    </div>
    
  </template>

  <script>
    Polymer({
      is: 'my-about',
      properties: {
        workEntries: {
        type: Array,
          value: [
            {
              image: 'educa-worldwide.jpg',
              title: 'Educa Worldwide',
              altText: 'Educa Worldwide',              
            },
            {
              image: 'sullivan-drugs.jpg',
              title: 'Sullivan\'s Pharmacy',
              altText: 'Sullivan\'s Pharmacy',              
            },
            {
              image: 'lake-house.jpg',
              title: 'Farell Real Estate Company',
              altText: 'Patriot Powder Prototype',              
            },
            {
              image: 'compass-improv.jpg',
              title: 'Compass Improv Festival',
              altText: 'Compass Improv Festival',              
            },
            {
              image: 'steam-action.jpg',
              title: 'Steam Action',
              altText: 'Steam Action',              
            }
          ]
        }
      }
    });
  </script>
</dom-module>
