<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="flexbox-grid.html">

<dom-module id="my-contact">
  <template>
    <style include="shared-styles flexbox-grid">
      :host {
        display: block;

        padding: 10px;
      }      
      paper-card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: 5px;
        padding: .75em 1.5em;
        transition-timing-function: cubic-bezier(.75, -0.55, .45, .84);
        transform: scale(1.0);
        margin-top: 1.5em;
      }      
      paper-card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: scale(1.1);
      }
      .paper-card-content {
        width: 100%;
      }      
      paper-input,
      paper-textarea {
        margin: 1em auto;
      }
      paper-button.indigo {
        background-color: var(--app-primary-color);
        margin: 1em auto;
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--app-primary-color) !important;
          color: white !important;
        };        
      }
      .heading-sans {
        font-size: 48px;
      }
      .value-proposition {
        font-size: 72px;
        margin: 1.5rem 0;
        padding: 0;
        line-height: 105%;
        font-weight: normal !important;      
      }
      hr {
        border-color: #f1f1f1;
        display: flex;
        width: 100%;
      }
      .description-text {
        font-size: 28px;
        margin: 0 0 1.5rem 0;
        padding: 0;
        line-height: 130%;
      }
      .contact-list p {
        text-align: left;
        width: 125px;
      }
      .back-arrow {
        color: var(--paper-blue-600);        
      }
      .back-arrow paper-icon-button {
        padding-left: 0;
      }
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
        .heading-sans {
          font-size: 28px;
          margin-bottom: .5em;
          line-height: 110%;
        }
        .location {
          font-size: 12px;
          margin: 1em 0;
        }
        .role {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        .value-proposition {
          font-size: 22px;
        }
        .description-text {
          font-size: 14px;
          margin-bottom: 1.25em;
        }
        .nav-icon-label {
          font-size: 10px;
        }
        .value-proposition {
          font-size: 16px;
        }
        .card-title {
            margin: 0;
            font-weight: normal;
            font-size: 20px;
        }
        .card-sub-title {
            margin: 0;
            font-size: 12px;
        }
        .location-icon,
        .mail-icon {
          color: var(--paper-blue-600);
          margin: 0 10px 0 0;
          padding: 0;
          width: 18px;
        }
        h4.contact-icon-wrapper {
          margin: .25em 0;
          font-size: 12px;
          font-weight: normal;
        }
      }
    </style>
    <app-toolbar class="hide-gt-xs"><a class="back-arrow" name="about" href="/about"><paper-icon-button icon="icons:arrow-back"></paper-icon-button></a></app-toolbar> 
    <div class="layout-row layout-align-center-center">
      <div class="layout-column flex-xs-95 flex-sm-95 flex-60">
        <div class="layout-column layout-align-start-start">
          <h1 class="heading-sans"><strong>Contact</strong></h1>
          <p class="description-text">Get in touch with me to chat about our next project.</p>
        </div>
        <hr class="flex-100">
        <div class="layout-row layout-align-center-center layout-wrap">
          <paper-card class="layout-column layout-align-space-between-start flex-80 flex-xs-100">
            <div class="paper-card-content">
                <form is="iron-form" id="form" method="post" action="/form/handler">
                  <paper-input class="layout-fill" name="Full Name" label="Your Name"></paper-input>
                  <paper-input class="layout-fill" name="email" label="Your Email"></paper-input>
                  <paper-textarea name="message" label="Message"></paper-textarea>
                  <paper-button raised class="custom indigo layout-fill">Submit</paper-button>
                </form>
            </div>    
          </paper-card>          
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-contact',
    });
  </script>
</dom-module>