<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="flexbox-grid.html">

<dom-module id="my-services">
  <template>
        <style include="shared-styles flexbox-grid">
      :host {
        display: block;

        padding: 10px;
      }
      hr {
        border-color: lightgray;
        display: flex;
        width: 100%;
      }
      .title {
        margin: 0 0 .25rem 0;
        font-weight: normal;
      }
      .heading-sans {
        font-size: 54px;
      }
      .value-proposition {
        font-size: 72px;
        margin: 1.5rem 0;
        padding: 0;
        line-height: 105%;
        font-weight: normal !important;      
      }
      .description-text {
        font-size: 24px;
        margin: 0 0 1.5rem 0;
        padding: 0;
        line-height: 130%;
      }
      iron-icon {
        color: var(--paper-blue-600);
        margin-right: 10px;
      }
      .back-arrow {
        color: var(--paper-blue-600);        
      }
      .back-arrow paper-icon-button {
        padding-left: 0;
      }
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
        .heading-sans {
          font-size: 36px;
          margin-bottom: 1rem;
          line-height: 110%;
        }
        .location {
          font-size: 12px;
          margin: 1em 0;
        }
        .role {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        .value-proposition {
          font-size: 22px;
        }
        .description-text {
          font-size: 14px;
        }
        .nav-icon-label {
          font-size: 10px;
        }
        .value-proposition {
          font-size: 16px;
        }
        h4 {
          margin-bottom: 0;
        }
      }
    </style>          
  <app-toolbar class="hide-gt-xs"><a class="back-arrow" name="about" href="/about"><paper-icon-button icon="icons:arrow-back"></paper-icon-button></a></app-toolbar> 
    <div class="layout-row layout-align-center-center">
      <div class="layout-column flex-xs-90 flex-sm-95 flex-60">
        <div class="layout-column layout-align-start-start flex-50">
          <h1 class="heading-sans">Services</h1>
          <div class="layout-row">
          <p class="description-text flex-gt-xs-100 flex-xs-100">Here are some of my specialties.</p>
          </div>
        </div>
        <hr class="flex-100">
        <div class="layout-row layout-align-space-between-start layout-wrap">
          <template is="dom-repeat" items="[[serviceEntries]]" as="service">
             <div class="layout-column layout-align-start-start flex-xs-95 flex-45">
              <h4><iron-icon class="location-icon" icon="[[service.icon]]"></iron-icon>[[service.title]]</h4>
              <small><p>[[service.description]]</p></small>
            </div>
          </template>          
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-services',
      properties: {
        serviceEntries: {
          type: Array,
            value: [
              {
                icon: 'icons:thumbs-up-down',
                title: 'Prototypes & Validation',
                description: 'Prototypes, Testing, and Design Sprints',
              },
              {
                icon: 'image:remove-red-eye',
                title: 'UI/UX Design',
                description: 'Planning, Front-End Development, and Interface Design',
              },
              {
                icon: 'editor:text-fields',
                title: 'Typography',
                description: 'Type Setting, Typeface Identification, Critique, and Consulting',
              },
              {
                icon: 'image:crop-rotate',
                title: 'Design',
                description: 'Print Design, Packaging, and Signage',
              },
              {
                icon: 'image:palette',
                title: 'Branding',
                description: 'Marks, Icons, Logotypes, and Colors',
              },
              {
                icon: 'hardware:smartphone',
                title: 'Apps & Software',
                description: 'Web, iOS, and Android',
              },
          ]
        }
      }
    });
  </script>
</dom-module>
